body.light, .home-section.light {
  color: #464c43;
}

body.dark {
  color: #EAECE9;
}

h1, .home-section.light h1, h1.hero-title, .dark h1 {
  color: #149f9d;
}

h2, .dark h2 {
  color: #1e8f8b;
  border-bottom: 1px solid #149f9d;
}

h3, .dark h3 {
  color: #287e79;
}
.navbar-brand {
  img {
    border: none
  }
}
#map {
  img {
    border: none
  }
}

p.brandingLogo
{
  img {
    border: none
  }
}

img {
  border: 3px solid #149f9d;
  border-radius: 5px;
}
#TableOfContents .nav-link {
  border-top: dotted #EAECE9
  }
  