<div class="TN-footer-flex-container">
    <div><h3><b>Therapy Nottingham</b><br />
        8 Eldon Chambers<br />
        Nottingham<br />
        NG1 2NS</h3></div>
    <div><h3><ul><li><a href="https://therapy-nottingham.selectandbook.com/timetable.aspx?appid=49475" target="_blank">Book an appointment</a></li>
    <li><a href="https://www.therapynottingham.co.uk#contact" target="_self">Contact us</a></li></ul></h3></div>
    <div><img src="/uploads/Safe-Space-Alliance-sticker-200.jpg" alt="Safe Space Alliance"></div>
</div>